name: staging

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  staging:
    name: deploy
    #needs: [frontend, backend]
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://dev.codeforpoznan.pl
      #if: github.repository == 'turskislab/site'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3

      - run: ls -la

      - name: deploy
        run: bash deploy.sh
        env:
          AWS_RESOURCE_NAME: '${{ secrets.AWS_RESOURCE_NAME }}'
          AWS_CLOUDFRONT_ID: '${{ secrets.AWS_CLOUDFRONT_ID }}'
          AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
